Learn_PostProcessing/Assembly-CSharp.csproj
Learn_PostProcessing/Assembly-CSharp-Editor.csproj
Learn_PostProcessing/Learn_PostProcessing.sln
Learn_PostProcessing/Unity.Postprocessing.Editor.csproj
Learn_PostProcessing/Unity.Postprocessing.Editor.Tests.csproj
Learn_PostProcessing/Unity.Postprocessing.Runtime.csproj
Learn_PostProcessing/Unity.Postprocessing.Runtime.Tests.csproj
Learn_PostProcessing/.vscode/launch.json
Learn_PostProcessing/.vscode/settings.json
Learn_PostProcessing/Library/
Learn_SRP/Library/
Learn_SRP/Assembly-CSharp.csproj
Learn_SRP/Assembly-CSharp-Editor.csproj
Learn_SRP/Learn_SRP.sln
Learn_SRP/.vscode/launch.json
Learn_SRP/.vscode/settings.json
Learn_PostProcessing/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Learn_PostProcessing/obj/Debug/Unity.Postprocessing.Editor.csprojAssemblyReference.cache
Learn_PostProcessing/obj/Debug/Unity.Postprocessing.Runtime.csprojAssemblyReference.cache
Learn_SRP/Learn_SRP.code-workspace
Learn_SRP/Unity.RenderPipelines.Core.Editor.csproj
Learn_SRP/Unity.RenderPipelines.Core.Runtime.csproj
Learn_SRP/Unity.RenderPipelines.Core.ShaderLibrary.csproj
Learn_SRP/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Learn_SRP/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Learn_SRP/obj/Debug/Unity.RenderPipelines.Core.Runtime.csprojAssemblyReference.cache
